{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Collab Edit PoC</title>

    <script src="{% static 'frontend/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/index.css' %}" />
</head>
<body>
    <h2>Name</h2>
    <input type="text" id="editor-name" disabled />

    <h2>Description</h2>
    <div class="editor editor-area" id="editor-description">Loading...</div>

    <h2>Contents</h2>
    <div class="editor editor-area" id="editor-content">Loading...</div>

    <script>
        (function() {
            const conn = new pocConnection(
                "ws://" + window.location.host + "{{ wspath|escapejs }}",
                ({{doc.pk}}).toString(),
                "{{ user.get_username|escapejs }}"
            );
            let activated = false;
            conn.provider.on("sync", function(isSynced) {
                if(isSynced && !activated) {
                    activated = true;
                    pocNonCollabText(document.getElementById("editor-name"), conn, "name");
                    pocEditor(document.getElementById("editor-description"), conn, "description");
                    pocEditor(document.getElementById("editor-content"), conn, "key");
                }
            });
        })();
    </script>
</body>
</html>
