{% extends "poc/base.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'frontend/index.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Edit Test Document</h1>
    <p><a href="{% url 'history_list' pk=doc.pk %}">View History</a></p>

    <h2>Name</h2>
    <input type="text" id="editor-name" disabled />

    <h2>Description</h2>
    <div class="editor editor-area" id="editor-description">Loading...</div>

    <h2>Contents</h2>
    <div class="editor editor-area" id="editor-content">Loading...</div>

    <script>
        (function() {
            const conn = new pocConnection(
                "ws://" + window.location.host + "{{ wspath|escapejs }}",
                ({{doc.pk}}).toString(),
                "{{ user.get_username|escapejs }}"
            );
            let activated = false;
            conn.provider.on("sync", function(isSynced) {
                if(isSynced && !activated) {
                    activated = true;
                    pocNonCollabText(document.getElementById("editor-name"), conn, "name");
                    pocEditor(document.getElementById("editor-description"), conn, "description");
                    pocEditor(document.getElementById("editor-content"), conn, "contents");
                }
            });
        })();
    </script>
{% endblock %}
